<div
  class="gwj-featured-topic-slider-wrapper"
  data-featured-topic-slider="true"
  role="region"
  aria-label={{i18n "featured_topic_slider.region_label"}}
  aria-busy={{this.isLoading}}
  {{did-insert this.loadTopics}}
  {{did-update this.handleSignatureChange this.fetchSignature}}
  style={{this.sliderInlineStyle}}
>
  <div class="gwj-featured-topic-slider-wrapper__header">
    {{#if this.showHeading}}
      <h2 class="gwj-featured-topic-slider-wrapper__heading">
        {{this.themeSettings.title_text}}
      </h2>
    {{/if}}

    {{#if this.showControls}}
      <div class="gwj-featured-topic-slider-wrapper__controls">
        <button
          type="button"
          class="gwj-featured-topic-slider-wrapper__control"
          aria-label={{i18n "featured_topic_slider.previous_label"}}
          aria-controls={{this.sliderDomId}}
          {{on "click" this.focusPrev}}
          disabled={{this.isPrevDisabled}}
        >
          <span aria-hidden="true">&lt;</span>
        </button>
        <button
          type="button"
          class="gwj-featured-topic-slider-wrapper__control"
          aria-label={{i18n "featured_topic_slider.next_label"}}
          aria-controls={{this.sliderDomId}}
          {{on "click" this.focusNext}}
          disabled={{this.isNextDisabled}}
        >
          <span aria-hidden="true">&gt;</span>
        </button>
      </div>
    {{/if}}
  </div>

  {{#if this.isLoading}}
    <div
      class="gwj-featured-topic-slider-wrapper__viewport gwj-featured-topic-slider-wrapper__viewport--skeleton"
      aria-hidden="true"
    >
      <div class="gwj-featured-topic-slider-wrapper__track">
        {{#each this.skeletonPlaceholders as |index|}}
          <article
            class="gwj-featured-topic-slider-wrapper__card gwj-featured-topic-slider-wrapper__card--skeleton"
          >
            <div class="gwj-featured-topic-slider-wrapper__media">
              <div class="gwj-featured-topic-slider-wrapper__skeleton-block"></div>
            </div>
            <div class="gwj-featured-topic-slider-wrapper__body">
              <div class="gwj-featured-topic-slider-wrapper__skeleton-line gwj-featured-topic-slider-wrapper__skeleton-line--title"></div>
              <div class="gwj-featured-topic-slider-wrapper__skeleton-line gwj-featured-topic-slider-wrapper__skeleton-line--meta"></div>
            </div>
          </article>
        {{/each}}
      </div>
    </div>
  {{else if this.hasTopics}}
    <div
      id={{this.sliderDomId}}
      class="gwj-featured-topic-slider-wrapper__viewport"
      role="list"
      {{did-insert this.registerViewport}}
      {{will-destroy this.unregisterViewport}}
    >
      <div class="gwj-featured-topic-slider-wrapper__track">
        {{#each this.topicCards as |card index|}}
          <article
            class="gwj-featured-topic-slider-wrapper__card"
            data-slider-index={{index}}
            role="listitem"
            style={{this.cardParallaxStyle index}}
          >
            <a
              href={{card.url}}
              class="gwj-featured-topic-slider-wrapper__card-link"
            >
              <div class="gwj-featured-topic-slider-wrapper__media">
                {{#if card.image}}
                  <img
                    src={{card.image.url}}
                    alt={{card.image.alt}}
                    loading="lazy"
                  />
                {{else}}
                  <div class="gwj-featured-topic-slider-wrapper__media--fallback">
                    {{d-icon "cannabis"}}
                  </div>
                {{/if}}
              </div>
              <div class="gwj-featured-topic-slider-wrapper__body">
                <h3
                  class="gwj-featured-topic-slider-wrapper__title"
                  aria-label={{card.title}}
                >
                  {{{card.titleHtml}}}
                </h3>

                {{#unless this.themeSettings.hide_tag_chip}}
                  {{#if card.tags.length}}
                    <span class="gwj-featured-topic-slider-wrapper__tag">
                      {{card.tags.[0]}}
                    </span>
                  {{/if}}
                {{/unless}}

                <div class="gwj-featured-topic-slider-wrapper__meta">
                  {{#if card.category}}
                    <span class="gwj-featured-topic-slider-wrapper__category">
                      {{category-badge
                        card.category
                        prioritizeSlug=false
                        showParent=true
                      }}
                    </span>
                  {{/if}}
                  {{#if card.lastPostedAt}}
                    <span class="gwj-featured-topic-slider-wrapper__time">
                      {{format-date card.lastPostedAt format="tiny"}}
                    </span>
                  {{/if}}
                </div>
              </div>
            </a>
          </article>
        {{/each}}
      </div>
    </div>
  {{else}}
    <div class="gwj-featured-topic-slider-wrapper__status">
      {{i18n "featured_topic_slider.no_topics"}}
    </div>
  {{/if}}
</div>
